@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/animations.scss";

@import "./Base/base";
@import "./Base/typography";

@import "./Components/buttons";
@import "./Components/loadingSpinner";

@import "./Layout/header";
@import "./Layout/nav";
@import "./Layout/form";
@import "./Layout/footer";

@import "./Pages/home.scss";
@import "./Pages/menus";
