.column-repeater{
    @include column-centered;
    width: 100%;
    gap:20px;
}

.bg-container{
    width: 100%;
    background-color: $gray-lighten;
    padding-bottom: 70px;
}

@keyframes apparition{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}