.form{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: $gray;
    box-shadow: inset 0px 1px 2px rgb(197, 196, 196);
    &__icon{
        margin-right: 10px;
    }
    &__field{
        border: none;
        background-color: $gray;
            &:focus{
                outline: thin;
            }
            &::placeholder{
                color: $black;
                font-size: 16px;
                font-weight: 500;
            }
    }
}