.header{
    display: flex;
    justify-content: space-around;
    height:70px;
    width: 100%;
    &__logo{
        width: 45%;
        height: 100%;
        &--withBtn{
            width: 45%;
            height: 100%;
            margin-left: -100px;
        }
    }
    &__back-btn{
        width:10%;
        border: none;
        background-color: transparent;
        font-size: 1.5em;
        margin-left: -80px;
        margin-right: -60px;
    }
}
