.header{
    display: flex;
    justify-content: space-around;
    height:70px;
    width: 100%;
    &__logo{
        width: 180px;
        height: 100%;
        max-height: 100px;
        &--withBtn{
            width: 180px;
            height: 100%;
        }
    }
    &__back-btn{
        border: none;
        background-color: transparent;
        font-size: 1.5em;
    }
    &__whiteSpace{
        width:40px
    }
}
