.header{
    display: flex;
    justify-content: space-around;
    height:70px;
    width: 100%;
    &__logo{
        width: 180px;
        height: 100%;
        max-height: 100px;
        &--withBtn{
            width: 180px;
            height: 100%;
        }
    }
    &__nav{
        height: 100%;
        @include inLine-spacer;
    }
    &__back-btn{
        border: none;
        background-color: transparent;
        font-size: 1.5em;
        margin-right: 60px;
    }
    &__whiteSpace{
        width:30px
    }
}
@include mobile{
    .header__location{
        display: none;
    }
}
/* Responsive Desktop ___________________________________________*/

@include desktop{  
    .header{
        position: fixed;
        width: 100%;
        z-index: 3;
        background-color: $white;
        padding-top: 10px;
        padding-bottom: 5px;
        @include inLine-spacer;
        &__whiteSpace{
            display: none;
        }
        &__nav{
            margin-left: 3%;
            width:230px;
        }
        &__back-btn{
            margin-right: 3%;
        }
        &__logo{
            &--withBtn{
                order: 1;
                margin-left: 3%;
            }
        }
        &__location{
            order:2;
            font-size: 1em;
            font-family: "Roboto";
            font-weight: 200;
            margin-right: 5%;
            >.fa-location-dot{
                margin-right: 10px;
                @include favorite-hover;
            }
        }
    }
}
