a {
  text-decoration: none;
  color: #262627;
}

a:hover {
  color: #9356DC;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 100;
}

.rest-menu > p {
  font-size: 1.2em;
  font-weight: 300;
  color: #4c4c4e;
}

.column-repeater__element > p {
  font-size: 0.8em;
  color: #4c4c4e;
}

h1 {
  font-family: "Shrikhand";
}

.home h1 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1em;
}

.restaurant-card h3 {
  font-size: 1.2em;
}

h6 {
  font-size: 0.8em;
  margin-left: 1.3em;
}

.btn {
  width: 60%;
  height: 50px;
  margin: 40px 10% 60px 10%;
  color: #fffefc;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 2px 2px 5px 2px lightgray;
}
.btn:hover {
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
}

.header {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  width: 100%;
}
.header__logo {
  width: 45%;
  height: 100%;
}

body {
  margin: 0%;
}

.heading__container {
  width: 90%;
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
}

.column-repeater {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.column-repeater__element {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px lightgray;
}
.column-repeater__element--gray {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px lightgray;
  background-color: #f7f7f7;
}
.column-repeater__element--purple {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px lightgray;
  background-color: #f2eafb;
}

.bg-container {
  width: 100%;
  height: fit-content;
  background-color: #f7f7f7;
}

.reduce-margin-top {
  margin-top: -80px;
}

.form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: #EAEAEA;
  box-shadow: inset 0px 1px 2px rgb(197, 196, 196);
}
.form__field {
  margin-right: -20px;
  border: none;
  background-color: #EAEAEA;
}
.form__field:focus {
  outline: thin;
}
.form__field::placeholder {
  color: #262627;
  font-size: 16px;
  font-weight: 500;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explore h1 {
  margin: 40px 5% 0px 5%;
}
.explore p {
  margin: 20px 5% 0px 5%;
}

.fonctionnement__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.purple-dot__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 15px;
  height: 15px;
  font-size: 0.8em;
  background-color: #9356DC;
  color: #fffefc;
  border-radius: 20px;
  margin: 0px 20px 0px -10px;
}

.cards-repeater {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-sticker {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 20%;
  color: #2c9c81;
  background-color: #99E2D0;
  border-radius: 4px;
}

.rest-prev {
  width: 90%;
  height: fit-content;
  padding-bottom: 0px;
  margin-bottom: 25px;
  background-color: #fffefc;
  box-shadow: 2px 2px 5px 2px lightgray;
  border-radius: 20px;
}
.rest-prev__tag {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 15px 0px 0px -15px;
}
.rest-prev__img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 16px 16px 0px 0px;
}
.rest-prev__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 5% 0px 5%;
}
.rest-prev__nameAndLocation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}
.rest-prev__name {
  margin-top: 0px;
}
.rest-prev__location {
  margin-top: -10px;
  font-size: 0.9em;
}

.rest-prev .fa-heart {
  color: gray;
  font-size: 1.4em;
}
.rest-prev .fa-heart:hover {
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
