body {
  margin: 0%;
}

a {
  text-decoration: none;
  color: #262627;
}
a:hover {
  transition: color 0.5s;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 100;
}

.menu__dishes > p {
  font-size: 1.2em;
  font-weight: 300;
  color: #4c4c4e;
}

.column-repeater__element > p {
  font-size: 0.8em;
  color: #4c4c4e;
}

h1 {
  font-family: "Shrikhand";
}

.home h1 {
  font-family: "Roboto", sans-serif;
}

.menu h1 {
  font-size: 26px;
}

h3 {
  font-size: 1em;
}

.restaurant-card h3 {
  font-size: 1.2em;
}

h6 {
  font-size: 0.8em;
  margin-left: 1.3em;
}

.btn {
  width: 60%;
  height: 50px;
  margin: 40px 10% 60px 10%;
  color: #fffefc;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 2px 2px 5px 2px lightgray;
}
.btn:hover {
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
}

.header {
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 100%;
}
.header__logo {
  width: 180px;
  height: 100%;
  max-height: 100px;
}
.header__logo--withBtn {
  width: 180px;
  height: 100%;
}
.header__back-btn {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
}
.header__whiteSpace {
  width: 40px;
}

.nav {
  list-style: none;
}

.heading__container {
  width: 90%;
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
}

.column-repeater {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.column-repeater__element {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px lightgray;
}
.column-repeater__element--gray {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px lightgray;
  background-color: #f7f7f7;
}
.column-repeater__element--gray:hover {
  background-color: #f2eafb;
}
.column-repeater__element--gray:hover .fonctionnement__icon {
  color: #9356DC;
}
.column-repeater__element--grayActive {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px lightgray;
  background-color: #f2eafb;
}
.column-repeater__element--grayActive .fonctionnement__icon {
  color: #9356DC;
}
.column-repeater__element--dish {
  animation: apparition 0.8s ease-out;
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 70px;
  padding: 0px 0% 0px 2%;
}
.column-repeater__element--dish:hover .dish__check {
  /* animation: slideIn 1s forwards; */
  width: 20%;
}
.column-repeater__element--dish:hover .dish__description {
  width: 80%;
}
.column-repeater__element--dish:hover .dish__price {
  margin-right: -30px;
}
.column-repeater__element--dish:hover .fa-circle-check {
  transform: rotate(360deg);
}

.bg-container {
  width: 100%;
  height: fit-content;
  background-color: #f7f7f7;
}

.inline-spacer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #EAEAEA;
  box-shadow: inset 0px 1px 2px rgb(197, 196, 196);
}
.form__icon {
  margin-right: 10px;
}
.form__field {
  border: none;
  background-color: #EAEAEA;
}
.form__field:focus {
  outline: thin;
}
.form__field::placeholder {
  color: #262627;
  font-size: 16px;
  font-weight: 500;
}

.footer {
  background-color: #262627;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__logo {
  font-size: 1em;
  color: #fffefc;
  margin-bottom: 0px;
}
.footer .nav__link a {
  color: #fffefc;
  font-size: 0.8em;
  margin-left: -40px;
}

.fa-utensils {
  margin-right: 10px;
}

.fa-handshake-angle {
  margin-right: 5px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explore h1 {
  margin: 40px 5% 0px 5%;
}
.explore p {
  margin: 20px 5% 0px 5%;
}

.fonctionnement__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
  margin-left: 10px;
}

.purple-dot__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 15px;
  height: 15px;
  font-size: 0.8em;
  background-color: #9356DC;
  color: #fffefc;
  border-radius: 20px;
  margin: 0px 20px 0px -10px;
}

.fonctionnement__icon {
  color: black;
}

.cards-repeater {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 40px;
}

.new-sticker {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 60px;
  max-width: 60px;
  height: 20px;
  padding: 2% 5% 2% 5%;
  color: #2c9c81;
  background-color: #99E2D0;
  border-radius: 4px;
}

.rest-prev {
  width: 90%;
  height: fit-content;
  padding-bottom: 0px;
  margin-bottom: 25px;
  background-color: #fffefc;
  box-shadow: 2px 2px 5px 2px lightgray;
  border-radius: 20px;
}
.rest-prev__tag {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 15px 0px 0px -15px;
}
.rest-prev__img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 16px 16px 0px 0px;
}
.rest-prev__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 5% 0px 5%;
}
.rest-prev__nameAndLocation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}
.rest-prev__name {
  margin-top: 0px;
}
.rest-prev__location {
  margin-top: -10px;
  font-size: 0.9em;
}

.rest-prev .fa-heart {
  color: gray;
  font-size: 1.4em;
}
.rest-prev .fa-heart:hover {
  transition: color 0.5s;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.menu__cover {
  z-index: 0;
  object-fit: cover;
  width: 100%;
}
.menu__container {
  position: relative;
  z-index: 1;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40px 40px 0px 0px;
}
.menu__heading {
  width: 90%;
  margin: 5% 5% -20px 5%;
}
.menu__heading .fa-regular {
  font-size: 28px;
  color: #9e9e9e;
  margin-right: 10px;
}
.menu__heading .fa-regular:hover {
  transition: color 0.5s;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.menu__dishes {
  width: 90%;
  margin: 5%;
}

.dish {
  min-width: 80%;
  max-width: 100%;
}
.dish__heading {
  margin: 15px 0px -10px 10px;
  max-width: 80%;
}
.dish__description {
  margin-left: 10px;
  width: 100%;
  transition: width 1s;
}
.dish__description > .dish__ingredients {
  font-weight: 200;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish__price {
  transition: margin-right 1s;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 15px;
}
.dish__check {
  width: 0px;
  transition: width 1s;
  transition: opacity 0.5s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 0px 20px 20px 0px;
  height: 60px;
  background-color: #99E2D0;
}

.half-border {
  position: absolute;
  margin-top: -15px;
  width: 40px;
  border-top: solid 3px #99E2D0;
}

.inline-effect {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fa-circle-check {
  color: #fffefc;
  font-size: 24px;
  transform: rotate(-360deg);
  transition: transform 1000ms ease-in-out;
}

@keyframes slideIn {
  0% {
    width: 0px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    width: 20%;
    opacity: 1;
  }
}
