.btn{
    width: 60%;
    height: 50px;
    margin: 40px 10% 60px 10%;
    color: $white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    @include pinkAndPurple-bg;
    @include shadow;
        &:hover{
            @include purpleAndPink-bg;
        }
}