.btn{
    width: 60%;
    height: 50px;
    margin: 40px;
    color: $white;
    font-size: 16px;
    border: none;
    background-image: linear-gradient(to bottom right, $pink, $purple) ;
    border-radius: 50px;
    @include shadow;
        &:hover{
            background-image: linear-gradient(to bottom right, $purple, $pink ) ;
        }
}