body{
    font-family: 'Roboto',sans-serif;
}

p{
    font-weight: 100;
}

h1{
    font-family: 'Shrikhand';
}
.home h1{
   @include home-heading;
}
.home h2{
    @include home-heading;
}

.menu h1{
    font-size: 26px;
}

h3{
    font-size: 1em;
}

.restaurant-card h3{
    font-size: 1.2em;
}

h6{
    font-size: 0.8em;
    margin-left: 1.3em;
}

