.home {
    h1{
        font-family: 'Roboto';
    }
}

.explore{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray-lighten;
    &__text{
        width: 70%;
        margin: 35px 10px -5px 10px;
        text-align: center;
    }
}

/*_____________*/


.fonctionnement__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.purple-dot__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height:15px;
    font-size: 12px;
    background-color: #9356DC;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    margin:0px 20px 0px -10px;
}

.restaurant-card{
    width: 90%;
    height: fit-content;
    padding-bottom: 0px;
    margin-bottom: 25px;
    background-color: #FFF;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 4px 15px 1px rgb(206, 204, 204);
}
.restaurant-card__tag{
    position: absolute;
    z-index: 6;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.restaurant-card__img{
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 190px;
    border-radius: 16px 16px 0px 0px;
}
.restaurant-card__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
}
.restaurant-card__nameAndLocation{
    display: flex;
    flex-direction: column;
}
.restaurant-card__name{
    font-family: 'Roboto';
    font-size: 18px;
    margin-bottom: -10px;
    margin-top: 5px;
}
.restaurant-card__location{
    font-family: 'Roboto';
    font-size: 16px;
}

.new-sticker{
    display: flex;
    justify-content: center;
    width: 70px;
    padding:5px;
    font-family: 'Roboto';
    color: green;
    background-color: #99E2D0;
    border-radius: 6px;
}

