.explore{
    @include column-centered;
    text-align: center;
    & h1{
        margin-top: 40px ;
        max-width: 70%;
    }
    & p{
        margin: 20px 5% 0px 5%;
        max-width: 80%;
    }
}


.fonctionnement{
    margin-bottom: 60px;
    &__icon{
        color:$gray-darken;
    }
    &__element{
        @include item;
        &--gray{
            @include item;
            background-color: $gray-lighten;
            &:hover{
                background-color: $purple-lighten;
                .fonctionnement__icon{
                    color: $purple;
                }
            }
        }
        &--grayActive{
            @include item;
            background-color: $purple-lighten;
            .fonctionnement__icon{
                color: $purple;
            }
        }
    }
}

.purple-dot__container{
    @include centered;
    width: 15px;
    height:15px;
    font-size: 0.8em;
    background-color: $purple;
    color: $white;
    @include generic-radius;
    margin:0px 20px 0px -10px;
}

.new-sticker{
    @include centered;
    width: 60px;
    max-width: 60px;
    height: 20px;
    padding: 2% 5% 2% 5%;
    color: $green-darken;
    background-color: $green;
    border-radius: 4px;
}

.rest-prev{
    width: 90%;
    height: fit-content;
    background-color: $white;
    @include shadow;
    @include generic-radius;
    &__tag{
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin:15px 0px 0px -15px;
    }
    &__img{
        object-fit: cover;
        width:100%;
        height:180px;
        border-radius: 16px 16px 0px 0px;
    }
    &__description{
       @include inLine-spacer;
       align-items: flex-start;
        padding: 10px 5% 0px 5%;
    }
    &__nameAndLocation{
       @include column-fromStart;
       height: fit-content;
    }
    &__name{
        margin-top: 0px;
    }
    &__location{
        margin-top: -10px;
        font-size: 0.9em;
    }
}

.rest-prev .fa-heart{
    color: gray;
    font-size: 1.4em;
    &:hover{
       @include favorite-hover;
    }
}
