.explore{
    @include flexBox-bg-direction($gray-lighten,column);
    text-align: center;
    padding-bottom: 70px;
    & h1{
        margin-top: 40px ;
        max-width: 70%;
    }
    & p{
        margin: 20px 5% 0px 5%;
        max-width: 80%;
    }
}

.fonctionnement{
    @include flexBox-bg-direction(transparent,column);
    margin-bottom: 60px;
    gap: 20px;
    &__steps{
        @include flexBox-bg-direction(transparent,column);
        width: 100%; 
        gap: 20px;
    }
    &__icon{
        color:$gray-darken;
    }
    &__element{
        @include item;
        &--gray{
            @include item;
            background-color: $gray-lighten;
            &:hover{
                background-color: $purple-lighten;
                .fonctionnement__icon{
                    color: $purple;
                }
            }
        }
        &--grayActive{
            @include item;
            background-color: $purple-lighten;
            .fonctionnement__icon{
                color: $purple;
            }
        }
    }
}

.restaurants{
    @include flexBox-bg-direction($gray-lighten,column);
    width: 100%;
    padding-bottom: 70px;
    gap:20px;
    &__cards{
        @include flexBox-bg-direction(transparent,column);
        gap:20px;
        width: 100%;
    }
}

.purple-dot__container{
    @include centered;
    width: 15px;
    height:15px;
    font-size: 0.8em;
    background-color: $purple;
    color: $white;
    @include generic-radius;
    margin:0px 20px 0px -10px;
}


.rest-prev{
    width: 90%;
    height: fit-content;
    background-color: $white;
    @include shadow;
    @include generic-radius;
    &:hover{
        @include shadow--hover;
    }
    &__tag{
        position: relative;
        z-index: 2;
        top: 10px;
        right:10px;
    }
    &__new{
        position: relative;
        &::before{
            content: "Nouveau";
            position: absolute;
            top:1rem;
            right: 1rem;
            @include centered;
            width: 60px;
            height: 20px;
            padding: 2% 5% 2% 5%;
            color: $green-darken;
            background-color: $green;
            border-radius: 4px;
        }

    }
    &__img{
        object-fit: cover;
        width:100%;
        height:180px;
        border-radius: 16px 16px 0px 0px;
    }
    &__description{
       @include inLine-spacer;
       align-items: flex-start;
        padding: 10px 5% 0px 5%;
    }
    &__nameAndLocation{
       @include column-fromStart;
       height: fit-content;
    }
    &__name{
        margin-top: 0px;
    }
    &__location{
        margin-top: -10px;
        font-size: 0.9em;
    }
}

.rest-prev .fa-heart{
    color: gray;
    font-size: 1.4em;
    &:hover{
       @include favorite-hover;
    }
}

/* Responsive Desktop ___________________________________________*/

@include desktop{
    .home h1{
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .explore{
        height: 100vh;
        justify-content: center;
        align-items: center;
        >h1{
            font-size: 3em;
        }
        >p{
            font-size: 2em;
        }
    }
    .fonctionnement{
        padding-bottom: 40px;
        &__steps {
        @include flexBox-bg-direction(transparent,row);
        width:90%;
        }
    }
    .restaurants{
        padding-bottom: 200px;
        &__cards{
        @include flexBox-bg-direction(transparent,row);
        overflow-x: auto;
        white-space: nowrap;
        justify-content: flex-start;
        width:90%;
        padding: 0% 2.5% 2.5% 2.5%;
        }
    }
    .rest-prev{
        flex: 0 0 auto;
        width:300px;
        justify-content: flex-start;
        max-width: 300px;
        &__img{
            height: 250px;
        }
        &:hover{
            animation: cardsHover 0.5s forwards;
        }
    }      
}