.menu{
    &__cover{
        z-index: 0;
        object-fit: cover;
        width: 100%;
    }
    &__container{
        @include flexBox-bg-direction($gray-lighten,column);
        padding-bottom: 60px;
        width: 100%;
        position: relative;
        z-index: 1;
        margin-top: -50px;
        @include column-fromStart;
        border-radius: 40px 40px 0px 0px ;
    }
    &__heading{
        @include inLine-spacer;
        width: 90%;
        margin: 5% 5% -20px 5%;
        .fa-regular{
            font-size: 28px;
            color: $gray-darken;
            margin-right: 10px;
            &:hover{
            @include favorite-hover;
            }
        }
    }
    &__dishes{
        width: 90%;
        margin:5%;
    }
    &__orderBtn{
        transform: translateX(5%);
        @include centered;
        width: 90%;
        .btn{
            max-width: 200px;
        }
    }
}

.menu__dishes > p {
    font-size: 1.2em;
    font-weight: 300;
    color: $black-lighten;
}

.all-dishes{
    width: auto;
}

.dish{
    @include flexBox-bg-direction(transparent,column);
    gap: 20px;
    margin-top: 30px;
        &__elements{
        @include item;
        background-color: $white;
        overflow: hidden;
        width:96%;
        max-width: 400px;
        padding: 0px 0% 0px 4%;
        @include cascade-delay;
        animation: apparition 1s ease-out;
        &:hover{
            .dish__check{
                width: 20%;
                transform: translateX(0%);
                transition: 0.5s ease;
                margin-left: 3%;
            }
            .fa-circle-check{
                transform: rotate(-360deg);
                animation: checkSpin 0.5s;
            }
            .dish__price{
                margin-left: -2%;
                margin-right: 5%;
            }
            .dish__content{
                width: 80%;
            }
        }
    }
    &__content{
        @include inLine-spacer;
        @include overflow;
        transition: width 0.5s;
        width: 100%;
        padding-right: 10px;
    }
    &__description{
        min-width: 80%;
        margin-right: 5%;
        > .dish__heading{
           @include overflow;
        }
        > .dish__ingredients{
            @include overflow;
            margin-top: -10px;
        }
    }
    &__price{
        width: 20%;
        transition: margin 0.5s;
        transition-delay: 0.2s;
        font-weight: 700;
        margin-bottom: -10px;
        margin-left: 5%;
    }
    &__check{
        @include centered;
        width:0%;
        transition: width 0.5s;
        border-radius: 0px 20px 20px 0px;
        height:60px;
        background-color: $green;
        transition: margin-left 0.5s;
        transition-delay: 0.5s;
        transform: translateX(100%);
        transition: 0.5s ease;
    }
}

.half-border{
    position: absolute;
    margin-top: -15px;
    width:40px;
    border-top: solid 3px $green;
}

.fa-circle-check{
    color: $white;
    font-size: 24px;
    transition: 0.5s ease-in-out;
}

/* Responsive Desktop ___________________________________________*/

@include mobile{
    .menu__cover{
        max-height: 300px;
    }
}

@include desktop{   
    .menu{
        display: flex;
        &__container{
            justify-content: flex-start;
            overflow: scroll;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 400px;
            max-height: 390px;
            position: absolute;
            top: 30%;
            right:10%;
            border-radius: 20px;
            box-shadow: 4px 4px 10px 0px $gray-darken,-10px -10px 10px 0px $white;
            background-color: $white;
        }
        &__cover{
            height: 1000px;
        }
    }
}