.menu{
    &__cover{
        z-index: 0;
        object-fit: cover;
        width: 100%;
    }
    &__container{
        position: relative;
        z-index: 1;
        margin-top: -50px;
        @include column-fromStart;
        border-radius: 40px 40px 0px 0px ;
    }
    &__heading{
        width: 90%;
        margin: 5% 5% -20px 5%;
        .fa-regular{
            font-size: 28px;
            color: $gray-darken;
            margin-right: 10px;
            &:hover{
            @include favorite-hover;
            }
        }
    }
    &__dishes{
        width: 90%;
        margin:5%;
    }
}

.dish{
    min-width: 80%;
    max-width: 100%;
    &__heading{
        margin: 15px 0px -10px 10px;
        max-width: 80%;
    }
    &__description{
        margin-left: 10px;
        width: 100%;
        transition: width 1s;
        > .dish__ingredients{
            font-weight: 200;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__price{
        transition: margin-right 1s;
        font-weight: 700;
        margin-left: 10px;
        margin-right: 15px;
    }
    &__check{
        width:0px;
        transition: width 1s;
        transition: opacity 0.5s;
        opacity: 0;
        @include centered;
        border-radius: 0px 20px 20px 0px;
        height:60px;
        background-color: $green;
    }
}

.half-border{
    position: absolute;
    margin-top: -15px;
    width:40px;
    border-top: solid 3px $green;
}

.inline-effect{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fa-circle-check{
    color: $white;
    font-size: 24px;
    transform: rotate(-360deg);
    transition: transform 1000ms ease-in-out;
}

@keyframes slideIn{
    0%{
        width:0px;
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    100%{
        width:20%;
        opacity: 1;
    }
}
